.App {
  text-align: center;
  width: auto;
  padding: 100px;
}

.App-wrapper{
  height: 100%;
  width: 100%;
}

._loading_overlay_wrapper_loading_overlay_wrapper--active {
  height: 100%;
}

.form-control {
  width: 100%;
  padding-bottom: 10px;
}

.InputSection {
  position: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
}

.InputSectionTitle {
  font-size: 150%;
  padding: 10px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.ResultSection {
  position: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
}

.about-button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 1.5%!important;
  padding-bottom: 1%!important;
}

.button {
  background: none!important;
  border: none;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.about-wrapper {
  align-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}